/*메인 페이지 글자 효과*/

.fadeIn {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.fadeIn2 {
    animation: fadeIn ease 1s 1s both;
    -webkit-animation: fadeIn ease 1s 1s both;
    -moz-animation: fadeIn ease 1s 1s both;
    -o-animation: fadeIn ease 1s 1s both;
    -ms-animation: fadeIn ease 1s 1s both;
}

.fadeIn3 {
    animation: fadeIn ease 1s 2s both;
    -webkit-animation: fadeIn ease 1s 2s both;
    -moz-animation: fadeIn ease 1s 2s both;
    -o-animation: fadeIn ease 1s 2s both;
    -ms-animation: fadeIn ease 1s 2s both;
}

.fadeIn4 {
    animation: fadeIn ease 1s 3s both;
    -webkit-animation: fadeIn ease 1s 3s both;
    -moz-animation: fadeIn ease 1s 3s both;
    -o-animation: fadeIn ease 1s 3s both;
    -ms-animation: fadeIn ease 1s 3s both;
}


@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}